<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/greet.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
    <script src=""></script>
  </body>
</html>