<div class="row">
    <h1>Greeted Names Counter</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Number Of Times Greeted</th>
        </tr>
        {{#each name}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {{/each}}
    </table>
</div>