<div>
    <p>Hello! {{personsName}} has been greeted {{personsCounter}} time(s)</p>
</div>
<div>
    <a href="/">Home Page</a>
</div>
<div>
    <a href="/greeted">Greeted Names Page</a>
</div>