<div>
    <h1>Greeted Names</h1>
    <ul>
        {{#each names}}
        <li><a href="/greeted/{{name}}">{{name}}</a></li>
        {{/each}}
    </ul>
    <div>
        <a href="/">Home Page</a>
    </div>
</div>