<div class='greeting'>
  <h1>
    Greetings!
  </h1>
</div>
<div class='errorText'>
  <p></p>
</div>
<div class='counter'>
  0
</div>
<div class='name-input'>
  <input
    type='text'
    name=''
    class='nameText'
    value=''
    placeholder='Enter a name'
  />
</div>
<h3>
  Select Greeting Language
</h3>
<form action='' method='POST'>
  <div class='buttons'>
    <label class=''>
      <input
        type='radio'
        name='radioButton'
        class='radioButton'
        value='english'
      />
      <span class='label-body'>
        English
      </span>
    </label>
    <label class=''>
      <input
        type='radio'
        name='radioButton'
        class='radioButton'
        value='french'
      />
      <span class='label-body'>
        French
      </span>
    </label>
    <label class=''>
      <input
        type='radio'
        name='radioButton'
        class='radioButton'
        value='sepedi'
      />
      <span class='label-body'>
        Sepedi
      </span>
    </label>
  </div>
  <div class='name-display'>
    <button class='greetButton' type='submit' name='button'>
      Greet Me!
    </button>
    <button class='reset' type='submit' name='button'>
      Reset
    </button>
    <textarea
      name='message'
      rows='2'
      cols='20'
      class='message'
      class='message'
    ></textarea>
  </div>
</form>