body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    background-color: #eee;
    padding: 1em;
}

ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

li {
    height: 3rem;
    list-style: none;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: #eee;
}

.buttons {
    width: 50%;
    margin: auto;
}

label {
 display: inline;   
}

.names-greeted {
    width: 50%;
    margin: auto;
    padding: 1em;
}

.errorText {
    width: 50%;
    margin: auto;
    padding: 1em;
}

ul li a:hover {
    background: #eee;
    color: #000;
}

ul a {
    font-size: 65px;
    text-decoration: none;
    color: black
}

h2 a {
    text-decoration: none;
    color: black
}

.name-input {
    width: 50%;
    margin: auto;
    padding: 1em; 
}

.name-display{
    width: 50%;
    margin: auto;
    padding: 2em;
}

.greetButton {
    width: 50%;
    margin: auto;
}

@media(max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        width: fit-content;
    }

    .languageRadio {
        display: inline;
        justify-content: space-between; 
    }

    .name-display{
        display: flex;
        justify-content: space-between;
    }
    .name-input {
        justify-content: space-between;
    }
    .greeting {
        float: left;
        justify-content:first baseline;
    }
}
