body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    width: 50%;
    margin: auto;
    background-color: blanchedalmond;
    padding: 1em;
}

.counter {
    font-size: 4rem;
    align-items: center;
    display: flex;
    float: right;
}

.errorText {
    width: 50%;
    margin: auto;
    padding: 1em;
}

h1, h2, h3 {
    width: 50%;
    margin: auto;
    padding: 1em;
}
.name-input {
    width: 50%;
    margin: auto;
    padding: 1em; 
}

.name-display {
    width: 50%;
    margin: auto;
    padding: 2em;
}

.buttons {
    width: 50%;
    margin: auto;
}

@media(max-width: 1000px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        padding: 1em;
        width: fit-content;
    }
    .buttons {
        display: flex;
        justify-content: space-between; 
    }
    .name-display{
        display: flex;
        justify-content: space-between;
    }
    .name-input {
        justify-content: space-between;
    }
    .greeting {
        float: left;
        justify-content:first baseline;
    }
}